/**
 * The CSS in this file is for styling the demo page,
 * Meny's critical styles (such as transforms) are applied
 * via JavaScript.
 *
 * See the documentation here: https://github.com/hakimel/meny#meny
 *
 * @author Hakim El Hattab | http://hakim.se
 */
@import url(https://fonts.googleapis.com/css?family=Handlee);
.view-animate {
    padding:10px;
  }

 .view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
  }

  .view-animate.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
  }
  .view-animate.ng-leave{
      opacity: 1;
    top: 0;
    height: 30px;
  }
  .view-animate.ng-enter.ng-enter-active {
    opacity: 1;
    top: 0;
    height: 30px;
  }
 .view-animate.ng-leave.ng-leave-active {
    opacity: 0;
    top: -50px;
    height: 0px;
  }
  
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
        overflow-x: auto;
	overflow-y: hidden;
}

body {
	background-color: #222;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
	background-repeat: repeat;

	font-family: 'Handlee','Lato', Helvetica, sans-serif;
	font-size: 16px;
	color: #222;
}

a {
	color: #c2575b;
	text-decoration: none;

	-webkit-transition: 0.15s color ease;
	   -moz-transition: 0.15s color ease;
	    -ms-transition: 0.15s color ease;
	     -o-transition: 0.15s color ease;
	        transition: 0.15s color ease;
}
	a:hover {
		color: #f76f76;
	}

h1,
h2 {
	font-size: 24px;
}
div.welcomePageBottomText
{
    position:absolute;
    margin-top: 100%;
    bottom:10%;
}
div.welcome
{
    position:relative;
    margin-top: 25%;
}
p.welcomeText
{
    font-family: Courier;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
}
p.welcomePageBottomText
{
    font-family: Courier;
    text-align: center;
    font-weight: 100;
}
div.welcomeShadow
{
        height:20px;
	background: #FFF;
	opacity:0.3;
	border-radius:100%;
	margin:32px 0px 0px 0px;
	position: relative;
        top:50%;
        width:25%;
        margin-left: 37%;
}
#pic_credit{
    text-align: right;
    font-size: 0.7em;
}
a:link {
    color:#195f91;
}
a:visited {
    color:#195f91;
}
a:hover {
    color:#ffbb00;
}
a:active {
    color:#195f91;
}
.meny {
	display: none;
	padding: 20px;
	overflow: auto;
	background: #333;
	color: #eee;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
	.meny ul {
		margin-top: 10px;
	}
		.meny ul li {
			display: inline-block;
			width: 200px;
			list-style: none;
			font-size: 20px;
			padding: 3px 10px;
		}
			.meny ul li:before {
				content: '-';
				margin-right: 5px;
				color: rgba( 255, 255, 255, 0.2 );
			}

/**
 * Hint graphic that appears while menu is inactive
 */
.meny-arrow {
	position: absolute;
	z-index: 10;

	border: 10px solid transparent;

	-webkit-transition: opacity 0.4s ease 0.4s;
	   -moz-transition: opacity 0.4s ease 0.4s;
	    -ms-transition: opacity 0.4s ease 0.4s;
	     -o-transition: opacity 0.4s ease 0.4s;
	        transition: opacity 0.4s ease 0.4s;
}
	.meny-left .meny-arrow {
		left: 14px;
		top: 50%;
		margin-top: -16px;
		border-left: 16px solid #333;
	}
	.meny-right .meny-arrow {
		right: 14px;
		top: 50%;
		margin-top: -16px;
		border-right: 16px solid #333;
	}
	.meny-top .meny-arrow {
		left: 50%;
		top: 14px;
		margin-left: -16px;
		border-top: 16px solid #333;
	}
	.meny-bottom .meny-arrow {
		left: 50%;
		bottom: 14px;
		margin-left: -16px;
		border-bottom: 16px solid #333;
	}
	.meny-active .meny-arrow {
		opacity: 0;

		-webkit-transition: opacity 0.2s ease;
		   -moz-transition: opacity 0.2s ease;
		    -ms-transition: opacity 0.2s ease;
		     -o-transition: opacity 0.2s ease;
		        transition: opacity 0.2s ease;
	}
        #menuSelectedDivs,.prevMenuItem{
            float:left;
            writing-mode: vertical-rl; 
            -webkit-writing-mode: vertical-rl;
            -moz-writing-mode: vertical-rl;
            -o-writing-mode: vertical-rl;
        }
        #menuNav {
            float:left;
            width:100%;
        }
/**
 * Main contents area
 */
.contents {
    background: white;//#1f8dd6;
    color: black;//#fff;
	//background: #eee;
	padding: 20px 40px;
	width: 100%;
	height: 100%;
	overflow-y: auto;

	-webkit-overflow-scrolling: touch;
	-webkit-transform-style: preserve-3d;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
	.contents>article {
		max-width: 400px;
	}
	.contents p {
		margin: 10px 0 10px 0;
		font-size: 16px;
		line-height: 1.32;
	}
	.contents small {
		display: block;
		margin-top: 10px;
		padding-top: 10px;
		color: #333;
		font-size: 0.85em;
		border-top: 1px dashed #ccc;

		-webkit-text-size-adjust: none;
	}
	.contents .sharing {
		position: absolute;
		bottom: 20px;
	}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active {
        position: relative;
        left: 150px;
    }
/*        #layout.active #menu {
            left: 150px;
            width: 150px;
        }*/

        #layout.active .menu-link {
            left: 150px;
        }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    /*margin-left: -150px; /* "#menu" width */
    width: 150px;
    /*position: fixed;*/
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }

        #reading_tech, #resume, #poem, #e20m2, #eImmersion {
            
           // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
            color: black;
            font-family: 'Handlee', 'Arial';
            line-height: 150%;
            //letter-spacing: 0.2em;
        }
        #reading_tech p , #reading_tech li, #poem p, #e20m2 p, #eImmersion p {
            line-height: 150%;
           // letter-spacing: 0.2em;
           font-size: 1.5em;
           margin-bottom: 1em;
           margin-top: 1em;
           word-spacing: 1em;
        }
        #poem code{
            font-size: 1.3em;
            color:#1f8dd6;
        }
        #reading_tech .markdownContent, #resume, #poem, #e20m2, #eImmersion {
            alignment-baseline: middle;
            padding-left: 1em;
            background-color: rgb(255,255,255);
        }
        #reading_tech .markdownContent h1, #reading_tech .markdownContent h2, #resume h2, #e20m2 h2, #eImmersion h2{
            color: whitesmoke;
            background-color: indigo;
            margin-left: -1em;
        }
        #reading_tech blockquote p, #poem blockquote p, #e20m2 blockquote p, #eImmersion blockquote p{
            text-align: center;
            color:purple;
            
        }
        #reading_tech blockquote p:before {
            font-size: 60px;
            content:'"';
        }
        #reading_tech blockquote p:after {
            font-size: 60px;
            content:'"';
        }
        #reading_tech pre  {
        background-color: black; //#1f8dd6;
        //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
        color: whitesmoke; 
        line-height: 20pt; 
        overflow: auto; 
        padding: 5px; 
        white-space: pre-wrap;
        margin-right: 1em;
        border: 1px dashed #999999;
        width: inherit;
    }
    #reading_tech p > code {
        
        color:dimgrey;
    }
    #reading_tech .readingDescription, #resume h1, #poem h1, #e20m2 h1 , #eImmersion h1{
       //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
       //background-color:#1f8dd6;
       font-size: 2em;
       color: #1f8dd6;//#222;
       padding-top: 1em;
       padding-bottom: 1em;
    }
    #reading_tech hr, #resume hr, #poem hr, #e20m2 hr, #eImmersion hr{
        background: #1f8dd6;
        height: .15em;
    }
    #reading_tech .hljs-string, #reading_tech .hljs-value {
        color: yellow;
    }
    #reading_tech .hljs-title {
        color: #ee5f5b;
    }
    #reading_tech .hljs-keyword {
        color: powderblue;
    }
    #reading_tech .hljs-built_in {
        color: silver;
    }
    pre.prettyprint {
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
  padding: 1em;
}
pre.linenums {
  padding: 0;
}
pre ol {
  line-height: 1.5;
  list-style: decimal ;
  margin: 0 0 0 1.6em;
}
pre ol li {
  word-wrap: break-word;
  border-left: 3px solid #CCC;
  margin: 0;
  padding: .2em 0 .2em 1em;
}
pre ol li:nth-child(odd) {
  background: #f0f0f0;
}
pre .tag {
  color: #1E347B;
}
pre .hightlight {
  font-weight: bold;
  color: red;
}
/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

 /*   #layout {
        padding-left: 150px;  left col width "#menu" 
        left: 0;
    }*/
/*    #menu {
        left: 150px;
    }*/
    #menu{
    	max-width: 45em;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}