/*
All Rights Reserved by Deepak Subramanian
*/
/* 
    Created on : Nov 5, 2014, 2:02:36 PM
    Author     : Deepak Subramanian
*/
#raphaelDiv
{
    width: 100%;
/*    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;*/
    //background-image: url('../Img/Graph-paper.svg');
}
html, body
{
    width: 100%;
}

table{
border-collapse:collapse;
border:1px solid black;
}

table td{
border:1px solid black;
}