/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2014, 11:49:38 AM
    Author     : test
*/
/*body{background-color: #1f8dd6}*/
/*#jmpress{-webkit-transition:left 350ms cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:left 350ms cubic-bezier(0.23, 1, 0.32, 1);-o-transition:left 350ms cubic-bezier(0.23, 1, 0.32, 1);transition:left 350ms cubic-bezier(0.23, 1, 0.32, 1);}#sections.pushed{left:-500px;}*/
/*
    -- begin reset
*/

/*html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}*/

/*body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #002023 url('../img/gradient.jpg') no-repeat center bottom;
    background: #111;
}*/
body{
    position: relative;
}
.blockDisplay{
    display:block;
}
#container{
    pointer-events: none;
    position: absolute;
}
#jmpress{
    position: absolute;
    display: block;
    background-color: transparent;
}
.loading {
    background: transparent url('../img/loading.gif') no-repeat center;
    position: absolute;
    margin-left: -32px;
    margin-top: -16px;
    display: block;
    height: 32px;
    width: 32px;
    left: 50%;
    top: 50%;
}

#overlay {
    background: transparent url('../img/overlay.png') repeat;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}

#Intro {
}

.mildOpacity {
    opacity: 0.8;
}
.deepOpacity {
    opacity: 0.5;
}
.rotate45 {
    -webkit-transform:  translate(-10px, 35px)  rotate(-45deg);
    transform: translate(-10px, 35px) rotate(-45deg);
    position: absolute;
}
.normalHeading {
    width: 1024px;
    background-color: #1f8dd6;
    text-align: center;
    font-size: 36px;
}

.normalExplanation {
    width: 1024px;  
    text-align: left;
    font-size: 30px;
    font-family: courier;
    color: white;
}

.transparency{
    background-color: transparent;
}
ul {
    list-style-type:square;
    list-style-position: inside;
}

li{
    background-color: lightslategrey;
}
.sunglasses {
    background-color: rgba(0,0,0,0.6);
}
.graph {   
    width:1024px;
    height:419px;
    opacity: 0.95;
    background: url(../Img/blueprint.png) no-repeat center;
}
.steelColoring {
        background-color: lightslategrey;
}
.blackColoring {
        background-color: black;
}
.redColoring {
        background-color: red;
}
.orangeColoring {
        background-color: orange;
}
.greenColoring {
    background-color: greenyellow;
}
.hiddenBackface {
    backface-visibility: hidden;
}
.textCenter {
    text-align: center;   
}
.verticalMiddle {
    vertical-align: middle;
}
b{
    color: orange;
}
/*prettify*/
/* Prettyfier  */
pre {
  background: #FEFBF3;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  font-family: Ubuntu_monospaced, Monaco, 'Andale Mono', 'Courier New', monospace;
  display: block;
  font-size: 14px;
  color: #aaa;
  color:red;
  
}
pre.prettyprint {
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
  padding: 1em;
}
pre.linenums {
  padding-left: 2em;
}
pre ol {
  line-height: 1.5;
  list-style: decimal ;
  margin: 0 0 0 1.6em;
}
pre ol li {
  word-wrap: break-word;
  border-left: 3px solid #CCC;
  margin: 0;
  padding: .2em 0 .2em 1em;
  background: wheat;
}
pre ol li:nth-child(odd) {
  background: whitesmoke;
}
pre .tag {
  color: #1E347B;
}
pre .hightlight {
  font-weight: bold;
  color: red;
}
.com {
  color: #93a1a1;
}
.lit {
  color: #195f91;
}
.pun,
.opn,
.clo {
  color: #93a1a1;
}
.fun {
  color: #dc322f;
}
.str,
.atv {
  color: #268bd2;
}
.kwd,
.tag {
  color: #195f91;
}
.typ,
.atn,
.dec,
.var {
  color: #CB4B16;
}
code {
  border: 1px solid #E0E0E0;
  background: #E9E9E9;
  padding: 0 4px;
}

.pureCentering
{
    margin-left:auto;
    margin-right:auto;   
}

.mediumWidth
{
    width: 300px;
}
.backPosition{
    z-index:0;
}
.middlePosition{
    z-index: 5;
}
.topPosition{
    z-index: 10;
}
.absolutePositioning{
    position:absolute;
    
}
.explanationBlock {
    display: block;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    pointer-events: none;
}
.push{
    margin-top:2em;
    display:block;
    width:370px;
    height:25px;
    margin-left:auto;
    margin-right:auto;   
    background-color: lightblue;
}
.arrowPush
{
    width:20px;
    height:25px;
    float:right;
    z-index: 10;
}
/*Makisu Styles*/
/* List styles */

.list {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    //text-transform: uppercase;
    //position: absolute;
    //margin-left: -140px;
    //margin-top: -280px;
    margin-left:auto;
    margin-right:auto;
    top: 15%;
}

.list a {
    
    display: block;
    color: #fff;
}

.list a:hover {
    text-indent: 20px;
}

.list th, .list caption {

    text-indent: 10px;
    line-height: 55px;
    background: #E0FBAC;
    margin: 0;
    height: 55px;
    width: 270px;
    color: #fff;
}

.list td {

    /* Since we're hiding elements behind here, we need it in 3d */
    -webkit-transform: translateZ(0.3px);
    -moz-transform: translateZ(0.3px);
    -ms-transform: translateZ(0.3px);
    -o-transform: translateZ(0.3px);
    transform: translateZ(0.3px);

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    padding-left: 1em;
}

.list tr {

    border: 0.5px dashed rgba(255,255,255,0.3);
    line-height: 35px;
    /*font-size: 11px;*/
    height: 35px;
    margin: 0;
}

/* Individual styles */

.rightStyleTable td, .rightStyleTable th, .rightStyleTable caption, .rightStyleTable a { background: #73C8A9; }
.leftStyleTable td, .leftStyleTable th, .leftStyleTable caption, .leftStyleTable a { background: #E32551; }
.centerStyleTable td, .centerStyleTable th, .centerStyleTable caption, .centerStyleTable a { background: #FFC219; }

.rightStyleTable a:hover { background: #61c19e; }
.leftStyleTable a:hover { background: #d31b46; }
.centerStyleTable a:hover { background: #ffbb00; }

.leftStyleTable {

    -webkit-transform: perspective(1200px) rotateY(40deg) !important;
    -moz-transform: perspective(1200px) rotateY(40deg) !important;
    -ms-transform: perspective(1200px) rotateY(40deg) !important;
    -o-transform: perspective(1200px) rotateY(40deg) !important;
    transform: perspective(1200px) rotateY(40deg) !important;

    -webkit-transform-origin: 110% 25%;
    -moz-transform-origin: 110% 25%;
    -ms-transform-origin: 110% 25%;
    -o-transform-origin: 110% 25%;
    transform-origin: 110% 25%;
    
    left: 0;
}

.centerStyleTable {

    -webkit-transform: perspective(600px) translateZ(1px) !important;
    -moz-transform: perspective(600px) translateZ(1px) !important;
    -ms-transform: perspective(600px) translateZ(1px) !important;
    -o-transform: perspective(600px) translateZ(1px) !important;
    transform: perspective(600px) translateZ(1px) !important;

    //left: 50%;
}

.rightStyleTable {

    -webkit-transform: perspective(1200px) rotateY(-40deg) !important;
    -moz-transform: perspective(1200px) rotateY(-40deg) !important;
    -ms-transform: perspective(1200px) rotateY(-40deg) !important;
    -o-transform: perspective(1200px) rotateY(-40deg) !important;
    transform: perspective(1200px) rotateY(-40deg) !important;

    -webkit-transform-origin: -10% 25%;
    -moz-transform-origin: -10% 25%;
    -ms-transform-origin: -10% 25%;
    -o-transform-origin: -10% 25%;
    transform-origin: -10% 25%;
    //position: absolute;
    
    left:75%;
}
.rightFloat{
    float:right;
}
.leftFloat{
    float:left;
}
.textWhite
{
    color: white;
}
.textLarge
{
    font-size: 1em;
}
.slash{
    font-size: 4em;
}
.textRoyalBlue
{
    color:royalblue;
}
.fixedTable{
    table-layout: fixed;
}
.fixedTd{
    width:341px; 
    height:200px;
    max-width:341px;
    min-width:341px; 
    max-height:200px; 
    min-height:200px;
}
.ridiculusLarge{
    font-size: 10em;
}
.tableBorderDashed{
      border: 1px dashed rgba(0,0,0,1);
}
.invisible { //hidden element that does not use space
    display: none;
    visibility: hidden;
}

.l600p {
    width: 830px;
}

.l_5p {
    width: 500px;
}
.orientLeftDS{
    left:3%;
}
.orientRightDS {
    left: 53%;
    text-align: right;
    direction: rtl;
}
.listBorder{
      border-bottom: 1px dashed rgba(255,255,255,1);
}
sub {
bottom: -0.25em;
}
.step{
    
}
img.fixedWidth{
    width:800px;
    display:block;
}
.fixedWidth {
    width: 1024px;
}
.fixedHalfWidth {
    width: 512px;
}
pre.fixedHalfWidth{
    width: 465px;
}

.fixedHeight {
    height: 700px;
}
.latticeHeight {
    height: 315px;
}
.latticeImage {
        display: block;
   width: 100%;
   height: auto;
   margin-top: 15%;
   vertical-align: middle;
}
.w10{
    width:3%;
}
.blackText{
    color:black;
}
.textMedium {
    font-size: 25px;
}

@media all and (min-width:1200px){
    .normalHeading,
    .normalExplanation,
    .fixedWidth,
    .graph
    {
        width: 1024px;
    }
    .normalHeading
    {
        font-size: 36px;
    }
    .l_5p
    {
        width:480px;
    }
    .mediumWidth
    {
        width: 300px;
    }
    .push
    {
        width: 370px;
    }
    .list th, .list caption
    {
        width: 270px;
    }
    .fixedTd
    {
        width:341px;
    }
}
@media all and (min-width:1024px) and (max-width:1199px){
    .normalHeading,
    .normalExplanation,
    .fixedWidth,
    .graph 
    {
        width: 980px;
    }
    .l_5p
    {
        width: 430px;
    }
    .normalHeading
    {
        font-size: 34px;
    }
    .normalExplanation
    {
        font-size: 30px;
    }
    .mediumWidth
    {
        width: 287px;
    }
    .push
    {
        width: 354px;
    }
    .list th, .list caption
    {
        width: 258px;
    }
    .fixedTd
    {
        width: 326px;
    }
}
@media all and (min-width:640px) and (max-width:1023px){
    .normalHeading,
    .normalExplanation,
    .fixedWidth,
    .graph
    {
        width: 600px;
    }
    .normalHeading
    {
        font-size: 21px;
    }
    .l_5p
    {
        width: 280px;
    }
    .mediumWidth
    {
        width: 175px;
    }
    .push
    {
        width: 217px;
    }
    .list th, .list caption
    {
        width: 157px;
    }
    .fixedTd
    {
        width: 200px;
    }
}
@media all and (min-width:430px) and (max-width:639px)
{
    .normalHeading,
    .normalExplanation,
    .fixedWidth,
    .graph
    {
        width: 400px;
    }
    .normalHeading
    {
        font-size: 14px;
    }
    .l_5p
    {
        width: 180px;
    }
    .mediumWidth
    {
        width: 117px;
    }
    .push
    {
        width: 144px;
    }
    .list th, .list caption
    {
        width: 105px;
    }
    .fixedTd
    {
        width: 133px;
    }
}