<!--<div id="pic_credit">
   This background is attributed to <span id="attributeBGName"></span><span id=""></span>
</div>-->
<div class="welcome">
    <p class="welcomeText">Welcome !</p>
</div>
<!--<div class="welcomeShadow"></div>-->
<br/><br/>
<div class="welcomePageBottom">
    <p class="welcomePageBottomText">I am Deepak Subramanian and this is my website.
    <br/> <br/>
    <--- Menu that way
    </p>
</div>