<!--<div id="pic_credit">
   This background is attributed to <span id="attributeBGName"></span>
</div>-->
<div id="reading_tech">

</div>
<script type='text/javascript-lazy' src='js/technical.js'></script>